
body {
  margin: 50px;
}

table {
  border-collapse: collapse;
  text-align: center;
}

th, td {
  min-width: 10px;
  padding: 7px;
}

th {
  border-top: 1px solid white;  
}

td {
  border: 1px solid black;
}

tr:nth-child(2n+3) {
  background: #F0F0F0;
}

#primesTable {
  margin-top: 20px;
  overflow-x: auto;
}